<%- include("partials/404Header") %>
        <div class="container w-100" id="_404-error">
            <div class="text-404 w-100">
                <h1 class="text-center">404 - Page Not Found</h1>
                <button class="btn btn-outline-success fs-6 mx-auto back-home" onclick="window.location.href='/home'">Go Back Home</button>
            </div>
        </div>
<%- include("partials/footer") %>


