<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/services.css" />
  </head>
  <body>
    <nav>
      <div class="side">
        <img src="/images/logo.png" alt="logo" />
        <span class="brand">Lucideus</span>
      </div>
      <div class="side">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
        </ul>
      </div>
    </nav>
    <div class="wrapper">
      <h2>Services</h2>
      <div class="line"></div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-codepen"></i>
        </div>
        <span></span>
        <h3>Web Design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-cogs"></i>
        </div>
        <span></span>
        <h3>ui / ux design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-diamond"></i>
        </div>
        <span></span>
        <h3>Graphics design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
    </div>
    <script src="/js/common.js"></script>
  </body>
</html>
