<%- include("partials/nav") %> 

    <div class="wrapper">
      <h2>Services</h2>
      <div class="line"></div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-codepen"></i>
        </div>
        <span></span>
        <h3>Web Design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-cogs"></i>
        </div>
        <span></span>
        <h3>ui / ux design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
      <div class="single-service">
        <div class="social">
          <i class="fa fa-diamond"></i>
        </div>
        <span></span>
        <h3>Graphics design</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et delectus, in veritatis veniam non praesentium corporis dolorum necessitatibus. Culpa odio enim amet praesentium illo voluptates
          ab quidem, nam consequuntur. Natus.
        </p>
      </div>
    </div>
    <script src="/js/common.js"></script>
  </body>
</html>
